ul{
    list-style: none;
}
.form {
    background-color: #0009;
    padding: 0 45px;
    min-height: 100px;
    width: 100%;
}

a{
    text-decoration: none;
}

.change {
   margin-top:10px;
    font-size: 16px;
    color: #fff;
    display: block;
}

 .sel{
    width: 90%;
    height: 35px !important;
    outline: none;
    float: left;
    /* background: none !important; */
    color:black;
    /* border: 1px solid #ffa200; */
    background-color: white;
    border-radius: 4px;
}

.search input{
    width: 154%;
    height: 35px !important;
    float: left;
    background: #ffa200 !important;
    cursor: progress;
    color: #fff;
    margin-top:48px;
    margin-left: -49%;
    border: none;
    border-radius:4px;
}
@media (max-width :768px){
    .search input{
    margin-left: -2%!important;
    width: 100% !important;
    margin-bottom:12px;
    margin-top: 24px;
}
}

.spc{
    
     padding-left: 4px !important; 
}

