.logo{
   font-size: 30px;
        font-weight: 600;
        color: rgb(255, 165, 0);
        font-family: poppins;
  margin-top: 30px;
}

.logo{
    background-color: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.logo img {
    width: 50px;
    margin-top: -10px;
}
.about{
    text-align: center;
    background-color: #eee;
    margin-top: 30px;
}
.about h2{
    padding-top: 20px;
    font-size: 21px;
    color: #424242;
}
.about strong{
    color: #000;
    font-weight: 600;
}

.about h3{
    font-size: 19px;
    color: #464646;
    font-weight: 400;
}

.about h4{
    font-size: 17px;
}

.about span{
    color:#a9a7a7;
}

.verify{
    padding-top: 40px;
}
.verify h2{
    font-size: 45px;
    color: #424242;
}

.verify p{
    font-size: 20px;
    color: rgb(63, 60, 60);
}

.verify small{
    color:#158dea;
    font-size: 14px;
    font-weight: 400;
}

.se {
    padding: 12px 30px;
    border-radius: 10px;
    border: 1px solid #6668;
}

.se:focus-visible {
  visibility:hidden;
}



.cod{
    padding-top: 5px;
    font-size: 18px !important;
    color:#424242;
}

.cod span{
    color:#158dea;
}
.mk{
    padding:11px 20px;
    border-radius: 10px;
    background: rgb(255, 165, 0);
    color: #fff;
    border: 1px solid rgb(255, 165, 0);
}

.veri h2{
    background-color: #fff;
   display: flex;
   justify-content: end;
}

.niru{
    background-color: #eee;
}

.veri a {
    display: flex;
    justify-content: center;
    color: #158dea !important;
    border-radius: 5px;
    padding: 7px 14px;
    text-align: center;
    border: 1px solid #9997;
    background-color: #fff;
}
.sam p{
    font-size: 18px;
    color: #424242;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nh{
    background-color: #158dea;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nh p{
    color: #158dea !important;
}
.gk{
    display: flex;
    justify-content: start;
    justify-items: center;
    align-items: center;
   
}

@media (max-width:767px){
    .about h2{
        font-size: 13px;
    }
    .about h3{
        font-size: 15px;
    }
    .about h4{
        font-size: 11px;
    }

    .verify h2 {
        font-size: 21px;
        color: #424242;
        font-weight: 600;
    }
    .cod {
        font-size: 12px;
    }
}